<head>
	
	<!--TAGS -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta name="keywords" content="{{ page.tags | join: ', ' }}">
	 {% if page.url == "/404.html" %}
        <meta http-equiv="refresh" content="5; url=/">
    {% endif %}
	<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
	
	<!--STYLES-->
	<link rel="stylesheet" type="text/css"  href="{{ site.baseurl }}/assets/css/main.css">
	<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ site.url }}/sitemap.xml">
	<link rel="canonical" href="{{ page.url | replace:'index.md','' | prepend: site.baseurl | prepend: site.url }}">
  	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" >
	
	
	<!--SCRIPTS-->
	<script type="text/javascript" src="{{ site.baseurl }}/assets/js/vendor/jquery.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/assets/js/vendor/cufon_fonts.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/assets/js/vendor/skel.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/assets/js/main.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/assets/js/util.js"></script>
	
</head>