// Small screens
@media only screen { } /* Define mobile styles */

// Medium screens min-width 500px
@media only screen and (min-width: 31.250em) {
	h1 {
	    font-size: 7.500em;
	}

}

// Medium screens min-width 641px
@media only screen and (min-width: 40.063em) {
	h1 {
	    font-size: 9.375em;
	}
}

@media all and (max-width : 768px) {

	#content {
		width: 94%;
		padding: 3%;	
	}

	#sidebar {
		width: 94%;
		padding: 3%;
		border-top: 3px solid #E64A19;
	}

}