<html>
{% include head.html %}
<body>

<div id="container">

	{% include header.html %}
	<!-- Main Content area -->
	<section id="content">
		<div class="blog-summary">
			<div class='post'>f</div>
			<div class='post clear'>f</div>
			<div class='post clear'>f</div>
			<div class='post clear'>f</div>
			<div class='post clear'>f</div>
		</div>
	
	</section>

	<!-- Sidebar -->
	<aside  id="sidebar">
		<h3>This is the Sidebar</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. </p>		
	</aside>

	{% include footer.html %}

</div>

</body>
</html>